<div class="calculator">
  <div class="calculator__output">{{stringToEval ? stringToEval : "0"}}</div>
  <div class="calculator__keys">
    <button
      class="calculator__key calculator__key--operator"
      (click)="to_get_keys('+')"
    >
      +
    </button>
    <button
      class="calculator__key calculator__key--operator"
      (click)="to_get_keys('-')"
    >
      -
    </button>
    <button
      class="calculator__key calculator__key--operator"
      (click)="to_get_keys('*')"
    >
      &times;
    </button>
    <button
      class="calculator__key calculator__key--operator"
      (click)="to_get_keys('/')"
    >
      ÷
    </button>
    <button class="calculator__key" (click)="to_get_keys('7')">7</button>
    <button class="calculator__key" (click)="to_get_keys('8')">8</button>
    <button class="calculator__key" (click)="to_get_keys('9')">9</button>
    <button class="calculator__key" (click)="to_get_keys('4')">4</button>
    <button class="calculator__key" (click)="to_get_keys('5')">5</button>
    <button class="calculator__key" (click)="to_get_keys('6')">6</button>
    <button class="calculator__key" (click)="to_get_keys('1')">1</button>
    <button class="calculator__key" (click)="to_get_keys('2')">2</button>
    <button class="calculator__key" (click)="to_get_keys('3')">3</button>
    <button class="calculator__key" (click)="to_get_keys('0')">0</button>
    <button class="calculator__key" (click)="to_get_keys('.')">.</button>
    <button class="calculator__key" (click)="clear_output()">AC</button>
    <button
      class="calculator__key calculator__key--enter"
      (click)="get_answer()"
    >
      =
    </button>
  </div>
</div>
